$textFont: 'Open Sans Condensed', sans-serif;
$displayFont: 'Rozha One', serif;
$titleColor: #aaaaaa;
$paragraphColor: #adadad;
$greyBG: #f7f7f7;
$footerBG: #131a22;
$black: #202020;
$red: #911a20;
$green: #4d6010;
