body {
	color: $black;
}

h2 {
	font-family: $displayFont;
	font-size: 3rem;
	margin: 0.5rem 0 0.8rem;
	text-transform: capitalize;
	color: $black;
}

h5 {
	color: $titleColor;
	font-size: 0.7rem;
	margin: 0.5rem 0 1rem;
	text-transform: uppercase;
	letter-spacing: 5px;
}

p {
	font-size: 0.8rem;
	color: $paragraphColor;
	line-height: 2;
	margin: 0.5rem 0 2rem;
	font-weight: 300;
}

a {
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	&:hover {
		color: burlywood;
	}
}

strong {
	font-weight: 600;
}

// Handles all the close buttons
.btn-close {
	background: none;
	border: none;
	font-size: 0.9rem;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;

	&:focus {
		outline: none;
	}
}

// Success and Error Messages
.message {
	text-align: center;
	color: green;
}

.error {
	text-align: center;
	color: $red;
}

@media only screen and (max-width: 360px) {
	h2 {
		font-size: 2rem;
	}
}
