@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans:400,500,700|Rozha+One');

@import 'Variables';
@import 'Global';
@import './components/LoginRegister/LoginRegister';
@import './components/Dashboard/Dashboard.scss';
@import './components/Navbar/Navbar.scss';
@import './components/Sidebar/Sidebar.scss';
@import './components/MyProjects/MyProjects.scss';
@import './components/ProjectDetails/ProjectDetails.scss';
@import './components/MyTickets/MyTickets.scss';
@import './components/TicketDetails/TicketDetails.scss';
@import './components/EditTicket/EditTicket.scss';
@import './components/Modals/Modal.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $textFont, sans-serif;
	width: 100%;
	height: 100vh;
	overflow-x: hidden !important;
	background: #fff;
}
