#MyProjects {
	.main-area {
		.header {
			margin-bottom: 20px;
			border-bottom: 1px solid $black;

			.btn {
				border: 2px solid $black;
				background: none;
				padding: 10px 25px;
				font-size: 14px;
				color: $black;
				cursor: pointer;
				transition: 0.8s;
				border-radius: 20px;
				&:hover {
					color: $black !important;
					background: #f6b93b;
					transition: all 0.7s ease 0s;
				}
				&:focus {
					outline: none;
				}
			}
		}

		.project-card {
			position: relative;
			text-align: center;
			padding: 10px;
			border: 1px solid black;

			.project-btns {
				display: flex;
				flex-direction: column;

				button,
				.btn {
					border: 2px solid $black;
					background: none;
					padding: 10px 25px;
					margin: 5px;
					font-size: 14px;
					color: $black;
					cursor: pointer;
					transition: 0.8s;
					&:hover {
						color: $black !important;
						background: #f6b93b;
						transition: all 0.7s ease 0s;
					}
					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}
