#TicketDetails {
	.main-area {
		margin-top: 30px;
	}

	.info-card {
		border: 1px solid $black;
		text-align: center;
	}

	.btn {
		text-decoration: none;
		color: $black;
		padding: 0 10px;
		margin: 0 5px;
		border: 1px solid black;
		&:hover {
			color: $black !important;
			background: #f6b93b;
			transition: all 0.7s ease 0s;
		}
	}

	// Ticket Comments Component
	.ticket-comments {
		border: 1px solid $black;
		padding: 8px;
		text-align: center;

		form {
			width: 100%;
			display: flex;

			input {
				width: 100%;
			}
		}
	}

	.comment-card {
		position: relative;
		border: 1px solid $black;
		text-align: center;
		padding: 20px 5px 0 5px;
		overflow: hidden;
		word-wrap: break-word;
	}

	// Ticket History Component
	.ticket-history {
		border: 1px solid $black;
		padding: 20px;
		text-align: center;
	}

	.history-card {
		border: 1px solid $black;
		text-align: center;
		padding: 20px 5px 0 5px;
		overflow: hidden;
		word-wrap: break-word;
	}

	// Attachment History Component
	.ticket-attachments {
		border: 1px solid $black;
		padding: 20px;
		text-align: center;
	}

	.attachment-card {
		position: relative;
		border: 1px solid $black;
		text-align: center;
		padding: 20px 5px 0 5px;
		overflow: hidden;
		word-wrap: break-word;

		.img-link {
			font-weight: bold;

			&:hover {
				color: $red !important;
				transition: all 0.7s ease 0s;
			}
		}
	}

	.error {
		color: $red;
		padding-bottom: 10px;
	}

	.message {
		color: green;
		padding-bottom: 10px;
	}
}
