header {
	position: relative;
	color: #ffffff;
	width: 100%;
	padding: 20px 0;
	z-index: 20;
	background-color: $black;
	box-shadow: 1px 1px 3px $black;

	.header-nav {
		display: flex;
		justify-content: space-between;
	}

	.logo {
		display: inline-block;
		padding: 0 10px;
	}

	.side-nav {
		text-decoration: none;
		list-style: none;
		display: flex;
		flex-direction: column;
		user-select: none;
		display: none;
		z-index: 5;
	}

	.nav {
		display: inline-block;
		text-align: right;
		list-style: none;
		user-select: none;
	}

	.nav-item {
		display: inline-block;
		color: #ffffff;
		text-decoration: none;
		padding: 0 10px;
		cursor: pointer;
	}

	.fa-bars {
		display: none;
		font-size: 2rem;
	}

	/* Hide Hamburger */
	#hamburger {
		display: none;
	}

	/* Dropdown Menu */
	.dropdown {
		color: #ffffff;
		position: absolute;
		top: 58px;
		width: 270px;
		height: 88vh;
		transform: translateX(-40%);
		background-color: $black;
		border: 0.8px solid gray;
		border-radius: 15px;
		padding: 1rem;
		overflow: hidden;
		font-size: 14px;
		overflow-y: auto;
	}

	.unread-icon {
		background-color: $red;
		padding: 5px 10px;
		border-radius: 50%;
	}

	.menu-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:hover {
			color: burlywood;
		}
	}

	.notes {
		text-align: left;
		padding-left: 5px;
		cursor: default;
	}

	.read {
		color: $paragraphColor !important;
	}

	.unread {
		color: #ffffff;
	}

	.mark-read {
		text-align: center;
		border-bottom: 1px solid white;
		&:hover {
			color: burlywood;
		}
	}

	.delete:hover {
		color: burlywood;
	}
}

@media only screen and (max-width: 959px) {
	header {
		.header-nav {
			flex-direction: column;
			justify-content: stretch;
			height: 100%;
			padding: 0 !important; // This will override material UI's container
		}
		.fa-bars {
			position: absolute;
			display: block;
			margin: 0 15px;
			z-index: 100;
			position: absolute;
			color: #ffffff;
		}

		.nav {
			padding: 7px;
		}

		.side-nav {
			position: absolute;
			top: -1000px;
			display: grid;
			text-align: center;
			width: 100%;
			height: 0;
			transition: all 0.5s linear;
			align-content: center;
		}
		input:checked ~ .side-nav {
			position: fixed;
			top: 0;
			background-color: rgba(165, 42, 42, 0.9);
			height: 100%;
		}

		/* Break down menu items into vertical */
		.side-nav {
			li {
				box-sizing: border-box;
				width: 100%;
				height: calc(100% / 6);
				padding: 20px 0 40px 0;
			}
		}
	}
}

@media only screen and (max-width: 290px) {
	header {
		.dropdown {
			transform: translateX(0%);
		}
	}
}
